.file-upload-container{
.uploadFile{
	position:relative;
}

.uploadFileText{
	color: rgba(0, 0, 0, 0.54);
	width: 100%;
	display: inline-flex;
	align-items: flex-start;
	font-weight: 600;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10px;
	font-size: 15px;
}

input{
	font-size: 15px;
	color: rgba(0, 0, 0, 0.54);
	margin-bottom: 20px;
	position:relative;
}

img{
	height: 40px;
	width: 40px;
	position: absolute;
  top: 10px;
}

.cancel{
  display: inline-block;
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: relative;
  margin-right:10px;
  color:red;
  float:left;
}

.delete{
	display: inline-block;
  position: absolute;
  cursor: pointer;
  left: 154px;
  color: red;
}

}