body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ag-header-cell-text{
	font-size:15px;
}

.MuiDialogTitle-root{
	padding: 16px 24px 0!important;
}

.MuiInputBase-root input::-webkit-input-placeholder { /* Edge */
  color: rgb(128, 128, 128)!important;
  opacity: 1!important;
}

.MuiInputBase-root input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(128, 128, 128)!important;
  opacity: 1!important;
}

.MuiInputBase-root input::placeholder {
  color: rgb(128, 128, 128)!important;
  opacity: 1!important;
}

.agGridReact-for-dialog{
	height: 250px;
}

.grid-green{
	color:green;
}

.grid-red{
	color:red;	
}

.grid-success div:first-child{
	background-color:#ffce00!important;
	color:white;
}

.quick-filter{
	padding: 4px 8px;
	font-size: 16px;
	border: 0;
	width: 100%;
	margin-bottom: 5px;
}

.logo-basis{
  margin-top: 3px;
  margin-left: 10px;
  width: 120px;
}

.small-grey-text{
	color: rgba(0, 0, 0, 0.54);
	padding: 0;
	font-size: 13px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.00938em;
}

.response-div-basis-left{
	float:left;
	width:320px;
}

.response-div-basis-right{
	width: calc(100% - 370px);
	float:left;
	padding:0 10px 0 40px;
}

div.basis-center-forms{
	
}

.toast-success-main{
	background:#5cb85c!important;
}

.toast-success-body{
	color:#ffffff;
}

.toast-error-main{
	background:red;
}

.sidebar-list-item{
	background-color: #ffffff;
	border-bottom: 1px solid rgb(250, 250, 251);
	cursor: pointer;
  padding: 12px 6px;
  display: block;
  text-decoration:none;
}

a.sidebar-list-item{
	padding-left:20px;
}

.sidebar-list-item:hover{
	background-color: rgb(230, 230, 231);
}

div.sidebar-list-submenu a{
	background-color: #ffffff;
	border-bottom: 1px solid rgb(250, 250, 251);
	cursor: pointer;
  padding: 12px 6px 12px 23px;
  display: block;
  text-decoration:none;
}

div.sidebar-list-submenu a:hover{
	background-color: rgb(230, 230, 231);
}

a.sidebar-list-item-p-23,
div.sidebar-list-item-p-23{
	padding-left:23px;
}

.icon-in-sidebar{
	width: 18px!important;
	height: 18px!important;
	position: relative;
  top: 2px;
}

.icon-in-sidebar-circle{
	width: 4px !important;
  height: 4px !important;
  position: relative;
  top: -4px;
  margin-right:4px;
}

.text-headline{
font-size: 15px!important;
font-weight: 500;
color: rgba(0, 0, 0, 0.54);
margin-bottom: 20px;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.block{
	padding: 20px;
	background: rgb(250, 250, 251);
}

.fixMaxWidth{
	max-width:510px;
}

.basic-camera{
	background: rgb(245, 247, 247);
	color: rgba(0, 0, 0, 0.54);
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.75;
	white-space: normal;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	font-size: 13px;
	padding: 12px 12px 10px;
	margin-bottom:40px;
	border-bottom: 2px solid #3f51b5;
}

.basis-camera-block{
  width: 100%;
}

.inputWithSelect{
	margin-top: -13px!important;
}

.inputWithSelect label{
	top: -2px;
	left: 10px;
}

@media screen and (max-width: 770px){
	.response-div-basis-left,
	.response-div-basis-right{
		padding:0;
		float: none;
		width:100%;
	}
}